@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    width: 100vh;
    height: 100vh;
    background: linear-gradient(to right, rgb(5, 117, 230), rgb(13, 75, 160));
}

h1 {
    margin-top: 50px;
}

form {
    display: inline-block;
    margin-top: 30px;
}

.container {
    position: absolute;
    width: 700px;
    background-color: #fff;
    margin: 100px 27%;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container:after {
    position: absolute;
    content: "";
    bottom: -100px;
    height: 100px;
    width: 1px;
}

input[type="number"],
select {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    font-size: 18px;
    outline: none;
}

input[type="submit"] {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    outline: none;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}

p {
    font-size: 20px;
    margin-top: 50px;
}

#result {
    font-weight: bold;
}