body {
    width: 100vh;
    height: 100vh;
    background: linear-gradient(to right, rgb(5, 117, 230), rgb(13, 75, 160));
}

.container {
    border: 1px solid black;
    padding: 50px;
    margin: 50px 300px;
    background-color: white;
    border-radius: 10px;
    width: 40vw;
}